:root {
  --white: #ffffea;
  --sixty: #89e5e4;
  --thirty: #c3acce;
  --ten: #ffed66;
  --heading: "Raleway", sans-serif;
  --text: "Montserrat", sans-serif;
  --margin-section: 5rem;
  --basic-transition: all 0.3s ease-in-out;
}

html {
  font-family: var(--text);
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-text-c {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name {
  text-align: center;
  font-size: 1.5rem;
}

.ingredients {
  text-align: center;
  list-style: none;
  font-size: 1.2rem;
}

.alcoholic {
  text-align: center;
  font-size: 1.1rem;
}

.instructions-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  font-size: 1rem;
  text-align: center;
}

.reccomended-drinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-section);
}

.top-picks {
  width: 100%;
  max-width: 550px;

  overflow: hidden;
  position: relative;
  border: 5px solid var(--thirty);

  border-radius: 20px;
}

.picks-inner {
  display: flex;
  width: 270vw;
  transition: all 0.3s ease-in-out;
  transform: translateX(-0vw);
}

.card {
  padding: 3rem;
  width: 75%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-top .img-c img {
  border-radius: 10px;
}

.green {
  /* background-color: green; */
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}

.top-picks svg {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 10;
}

.right {
  left: 90%;
  z-index: 10;
}

.left {
  right: 90%;
}
svg {
  height: 2rem;
}

.randomDrinks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: var(--margin-section);
}

.random-title,
.reccomended-drinks h2 {
  font-family: var(--heading);
  font-size: 1.5rem;
  text-align: center;
}

.reccomended-drinks .rec-title {
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.alcoholic-btn,
.non-alcoholic-btn {
  font-size: 1rem;
  background-color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: 4px solid var(--ten);
}

.drinksContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 20rem;
}

.drink-card {
  display: flex;
  padding-bottom: 1rem;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 100px;
  transition: var(--basic-transition);
  cursor: pointer;
}

.drink-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 5px solid var(--sixty);
  transition: var(--basic-transition);
}

.text-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.drink-title {
  font-size: 1.5rem;
  font-family: var(--heading);
  line-height: 0.9;
}

.button-c {
  display: flex;
  justify-content: center;
}

.button-c .change {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  border: 4px solid var(--ten);
  transition: var(--basic-transition);
}

.change svg {
  height: 2rem;
  fill: black;
}

@media only screen and (min-width: 550px) {
  .card-top {
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 1rem;
  }

  .main-text-c {
    width: 40%;
  }

  .img-c {
    height: 300px;
    width: 40%;
    overflow: hidden;
    border-radius: 15px;
  }

  .rec-img-two {
    width: 150%;
    transform: translate(-70px, -70px);
  }

  .rec-img-one {
    width: 250%;
    transform: translateX(-195px);
  }

  .rec-img-three {
    width: 250%;
    transform: translateX(-60px);
  }

  .drinksContainer {
    flex-direction: row;
    max-width: 38rem;
    justify-content: space-between;
    gap: 1rem;
  }

  .drink-card {
    width: 45%;
  }

  .instructions {
    width: 85%;
  }

  .drink-card:hover {
    background-color: var(--sixty);
  }

  .drink-card:hover img {
    border: 2px solid var(--sixty);
  }

  .alcoholic-btn,
  .non-alcoholic-btn {
    border: 4px solid var(--ten);
    background-color: var(--white);
    transition: var(--basic-transition);
  }

  .alcoholic-btn:hover,
  .non-alcoholic-btn:hover {
    border: 4px solid var(--ten);
    background-color: var(--ten);
  }

  .button-c .change:hover {
    background-color: var(--ten);
  }

  .fill {
    background-color: var(--ten);
  }
}
